<!-- <div class="jumbotron"> -->
    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <div class="col-sm-7 offset-sm-2">
                <h2>IC Interest Creation</h2>
                <form [formGroup]="icCreationForm" (ngSubmit)="onSubmit()">
                    <div class="container-vertical">
                        <table class="full-width" cellspacing="0">
                            <tr>
                                <td class='align-right'>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="Period (months)" required formControlName="period"
                                            [ngClass]="{ 'is-invalid': submitted && f.period.errors }">
                                        <div *ngIf="submitted && f.period.errors" class="invalid-feedback">
                                            <div *ngIf="f.period.errors.required">Period is required</div>
                                        </div>
                                    </mat-form-field>
                                </td>
                                <td class='align-right'>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="Interest (%/year)" required formControlName="interest"
                                            [ngClass]="{ 'is-invalid': submitted && f.interest.errors }">
                                        <div *ngIf="submitted && f.interest.errors" class="invalid-feedback">
                                            <div *ngIf="f.interest.errors.required">Interest is required</div>
                                        </div>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Create new one
                        </button>
                        <a class="btn btn-link" (click)="onCloseCreationDialog()">Cancel</a>
                        <!-- <a routerLink="/ic/admin/" class="btn btn-link">Cancel</a> -->
                    </div>
                </form>
            </div>
        <!-- </div>
    </div>
</div> -->