@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.ng-container:hover {
  background: #777;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.icon {
  display: inline-block;
  margin-left: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.mat-row.hovered {
  background: #eee;
}