<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-0">
                <h2>IC Interest Management</h2>
                <div class="main-content">
                    <mat-toolbar style="background-color:transparent">
                        <mat-toolbar-row>
                            <span>Interest table</span>
                            <span class="example-spacer"></span>
                            <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary" (click)="onUpdateInterestOptions()">
                                <mat-icon class="icon">save_outline</mat-icon>
                            </button>
                            <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary" (click)="onRemoveInterestOptions()">
                                <mat-icon class="icon">delete_outline</mat-icon>
                            </button>
                            <button mat-icon-button color="primary">
                                <mat-icon aria-hidden="false" class="icon" aria-label="Example Add icon" (click)="onOpenAddInterestDialog()">add_outline
                                </mat-icon>
                            </button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-table #table [dataSource]="tableInterestData">
                        <ng-container matColumnDef="checked">
                            <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-checkbox (change)="onCheckingRow(element)" [(ngModel)]="element.checked" ></mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <!-- Position Column -->
                        <ng-container matColumnDef="id" style="width: 10%">
                            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="period">
                            <mat-header-cell *matHeaderCellDef> Period </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput [readonly]="!element.checked" [disabled]="!element.checked" placeholder="Period value" [value]="element.period"
                                        [(ngModel)]="element.period">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="interest">
                            <mat-header-cell *matHeaderCellDef> Interest </mat-header-cell>

                            <mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput [readonly]="!element.checked" [disabled]="!element.checked" placeholder="Period value"
                                        [value]="element.interest" [(ngModel)]="element.interest">
                                </mat-form-field>
                            </mat-cell>
                            <!-- <mat-cell *matCellDef="let element"> {{element.interest}} </mat-cell> -->
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                    </mat-table>
                </div>

            </div>
        </div>
    </div>