// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}