@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~bootstrap/scss/mixins/breakpoints';
// @import '~@nebular/theme/styles/global/bootstrap/breakpoints';

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

.mat-sidenav-container {
    background-color: transparent;
}

h2 * {
//   text-decoration: none;
  color: purple !important;
}

:root {
  --primary-color: #fff;
  --background-color: #e5e5e5;
  --text-color: #2d2d2d;
}
// nb-layout nb-layout-header nav{
//   padding: auto !important;
//   height: auto !important;
// }

// .nb-theme-default nb-layout-header nav{
//   color: #222b45;
//     box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,0.1);
// }
// @import '~@nebular/theme/styles/globals';
// @include nb-install() {
//   @include nb-theme-global();
// // .nb-theme-default nb-layout-header nav{
// //   padding: auto !important;
// //   height: auto !important;

// // }
// };

// @import '../app/core/@theme/styles/themes';
// @include nb-install-component() {

//   //  nb-layout-header {
//   //   display: block;
//   //   ::nav {
//   //     align-items: center;
//   //     padding: 500px !important;
//   //     display: flex;
//   //   }
//   // }

//   div > nb-layout-header > nav {
//     align-items: center;
//     padding: 500px;
//   }
// }
/* You can add global styles to this file, and also import other style files */