<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->
<!-- <app-header></app-header> -->
<!-- main app container -->
<!-- <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->
<!-- <app-layout> -->

<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header> -->
<!-- <ngx-one-column-layout> -->
<!-- <div class="col-sm-6 offset-sm-3"> -->

<!-- <alert></alert> -->
<!-- <router-outlet></router-outlet> -->
<!-- </div> -->
<!-- </ngx-one-column-layout> -->
<!-- </main>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- </app-layout> -->



<!-- credits -->
<!-- <div class="text-center">
        <p>
            <a href="#" target="_top">IC-Product - Copy right 2019</a>
        </p> -->
<!-- <p>
                <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
            </p> -->
<!-- </div> -->
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>


        <!-- <nb-layout windowMode> -->
            <!-- <nb-layout-header fixed class="header-class-special"> -->
                <app-header (sidenavToggle)="sidenav.toggle()" style="width: 100%;"></app-header>
            <!-- </nb-layout-header> -->
            <!-- <nb-layout-column> -->

                <router-outlet></router-outlet>

            <!-- </nb-layout-column> -->
            <!-- <nb-layout-footer fixed> -->

                <div class="text-center">
                    <p>
                        <a href="#" target="_top">IC-Product - Copy right 2019</a>
                    </p>
                </div>
            <!-- </nb-layout-footer> -->
        <!-- </nb-layout> -->
    </mat-sidenav-content>
</mat-sidenav-container>