h2{
  color: #9012fe 
}

.nb-theme-default nb-layout-header nav
{
    color: red;
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,0.1);
    height: auto;
    padding: 0px;
}

.nb-theme-default nb-layout-header nav a{
  color: white
}

.nb-theme-default nb-layout-header nav a:active, .nb-theme-default nb-layout-header nav a:hover{
  color: lightgray
}