@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container-horizontal {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-verical {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container > * {
  width: 100%;
}

.container form {
  margin-bottom: 20px;
}

.container form > * {
  margin: 5px 0;
}

.container .mat-radio-button {
  margin: 0 12px;
}

.full-width {
  width: 100%;
}

.align-right{
  display:flex !important;
  justify-content:flex-end!important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.colorreset {
  color: inherit;
}
// h1, h2, h3, h4, h5, h6 {
// //   text-decoration: none;
//   color: purple;
// }
