﻿<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2 class="colorreset">Register</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="container-vertical">
                        <table class="full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="Firt Name" required formControlName="firstName">
                                    </mat-form-field>
                                </td>
                                <td class='align-right'>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="Last Name" required formControlName="lastName">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <mat-form-field [floatLabel]='always' class="full-width">
                        <!-- <mat-label>Email</mat-label> -->
                        <input matInput placeholder="Email" required formControlName="email">
                    </mat-form-field>
                    <div class="container-vertical full-width">
                        <table class="full-width" cellspacing="0">
                            <tr class="full-width">
                                <td>
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput [matDatepicker]="dpDateOfBirth" readonly
                                            placeholder="Date of Birth" required formControlName="dateOfBirth">
                                        <mat-datepicker-toggle matSuffix [for]="dpDateOfBirth"></mat-datepicker-toggle>
                                        <mat-datepicker #dpDateOfBirth></mat-datepicker>
                                    </mat-form-field>

                                </td>
                                <td>
                                    <mat-radio-group aria-label="Select an option" color="primary" class='align-right'
                                        formControlName="gender" required>
                                        <mat-label>Gender</mat-label>
                                        <mat-radio-button value="Male">Male</mat-radio-button>
                                        <mat-radio-button value="Female">Female</mat-radio-button>
                                    </mat-radio-group>
                                    <!-- <div *ngIf="submitted && f.gender.errors">
                                            Name is required.
                                        </div> -->

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <table class="full-width" cellspacing="0">
                            <tr class="full-width">
                                <td>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="Personal Identity Number:" required
                                            formControlName="PIN">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class='align-right'>
                                        <mat-label>Type of PIN:</mat-label>
                                        <mat-select formControlName="PINType" required>
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let docType of docTypes" [value]="docType">{{docType}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput [matDatepicker]="dpIssuedDate" placeholder="Issued Date"
                                            required formControlName="issuedDate">
                                        <mat-datepicker-toggle matSuffix [for]="dpIssuedDate"></mat-datepicker-toggle>
                                        <mat-datepicker #dpIssuedDate disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput [matDatepicker]="dpExpiredDate" placeholder="Expired Date"
                                            required formControlName="expiredDate">
                                        <mat-datepicker-toggle matSuffix [for]="dpExpiredDate"></mat-datepicker-toggle>
                                        <mat-datepicker #dpExpiredDate disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <mat-form-field [floatLabel]='always' class="full-width">
                            <input matInput placeholder="Address" required formControlName="address">
                        </mat-form-field>
                        <table class="full-width" cellspacing="0">
                            <tr class="full-width">
                                <td>
                                    <mat-form-field>
                                        <mat-label>Provice:</mat-label>
                                        <mat-select formControlName="province" required>
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let province of provinces" type='provice'>
                                                {{province.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class='align-right'>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="Phone Number:" required
                                            formControlName="phoneNumber">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="Bank Account No." formControlName='bankAccountNo'
                                            required>
                                    </mat-form-field>
                                </td>
                                <td class='align-right'>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="Bank Name:" formControlName='bankName' required>
                                    </mat-form-field>
                                </td>
                                <td>

                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="Branch Name: " formControlName='branchName'
                                            required>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                        <mat-label>Please read the policies before submitting</mat-label>
                        <textarea matInput cdkTextareaAutosize readonly #autosize="cdkTextareaAutosize"
                            [value]="policy4Registering" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>

                    </div>
                    <!-- <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div> -->
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register
                        </button>
                        <a routerLink="/login" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>