@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/scss/mixins/breakpoints';
// @import '~@nebular/theme/styles/global/breakpoints';
// @import '../@theme/styles/themes';

.logo {
  width: 50px;
  height: 50px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

// mat-toolbar{
//     border-radius: 3px;
// }

// @media(max-width: 959px){
//     mat-toolbar{
//         border-radius: 0px;
//     }
// }

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

.fixed-header {
  position: fixed;
  z-index:999;
  height: 50px;
}

.shadow {
      -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 18px 0 rgba(0,0,0,.12);
}

.box-shadow-class {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// @include nb-install-component() {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;

//   .logo-container {
//     display: flex;
//     align-items: center;
//     width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
//   }

//   nb-action {
//     height: auto;
//     display: flex;
//     align-content: center;
//   }

//   nb-user {
//     cursor: pointer;
//   }

//   ::ng-deep nb-search button {
//     padding: 0!important;
//   }

//   .header-container {
//     display: flex;
//     align-items: center;
//     width: auto;

//     .sidebar-toggle {
//       @include nb-ltr(padding-right, 1.25rem);
//       @include nb-rtl(padding-left, 1.25rem);
//       text-decoration: none;
//       color: nb-theme(text-hint-color);
//       nb-icon {
//         font-size: 1.75rem;
//       }
//     }

//     .logo {
//       padding: 0 1.25rem;
//       font-size: 1.75rem;
//       @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
//       @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
//       white-space: nowrap;
//       text-decoration: none;
//     }
//   }

//   @include media-breakpoint-down(sm) {
//     .control-item {
//       display: none;
//     }
//     .user-action {
//       border: none;
//       padding: 0;
//     }
//   }

//   @include media-breakpoint-down(is) {
//     nb-select {
//       display: none;
//     }
//   }
// }
