<!-- <nav class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img class="logo" src="/assets/images/angular-logo.png">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="">{{ language.HOME || language}}</a>
            <app-language-selector class="navbar-item"></app-language-selector>
        </div>
    </div>
</nav> -->


<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation"> -->
<!-- <mat-nav-list>
            <a mat-list-item>
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="label">Dashboard</span>
            </a>
            <a mat-list-item type="button">
                <mat-icon class="icon" matTooltip="Info about the action">input</mat-icon>
                <span class="label">LogOut</span>
            </a>
        </mat-nav-list> -->
<!-- </mat-sidenav>
    <mat-sidenav-content> -->
<mat-toolbar color="primary" class="shadow; fixed-header">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a>
            <img class="logo" src="/assets/images/angular-logo.png">
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li *ngIf="currentUser">
                <a placement="bottom" container="body" ngbTooltip="Actions" [matMenuTriggerFor]="usermenu">
                    <mat-icon class="material-icons icon" style='font-size: 30px'>account_circle</mat-icon>
                </a>
                <mat-menu #usermenu="matMenu" container="body" yPosition="below" xPosition="before">
                    <button mat-menu-item (click)="onOpenICCreationPage()">
                        <mat-icon>verified_user</mat-icon>
                        <span>{{currentUser.username}}</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <!-- <mat-icon>view_module</mat-icon> -->
                        <mat-icon>input</mat-icon>
                        <span>Log out</span>
                        <!-- <a placement="bottom" ngbTooltip="Log out" container="body" (click)="logout()"> -->
                        <!-- <span class="label">LogOut</span> -->
                        <!-- </a> -->
                    </button>
                </mat-menu>
            </li>
            <li *ngIf="currentUser">
                <a placement="bottom" container="body" ngbTooltip="Actions" [matMenuTriggerFor]="actionmenu">
                    <mat-icon class="material-icons icon" style='font-size: 30px'>more_vert</mat-icon>
                </a>
                <!-- 
                        <mat-list-item [matMenuTriggerFor]="menu">
                            <mat-icon>unfold_more</mat-icon>
                            <a matline>Example</a>
                        </mat-list-item> -->
                <!-- <button mat-icon-button container="body" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon class="material-icons icon">more_vert</mat-icon>
                        </button> -->
                <mat-menu #actionmenu="matMenu" container="body" yPosition="below" xPosition="before">
                    <button mat-menu-item (click)="onOpenInterestManagementPage()">
                        <mat-icon>view_module</mat-icon>
                        <span>IC Interest Management</span>
                    </button>
                    <!-- <button mat-menu-item disabled>
                        <mat-icon>publish</mat-icon>
                        <span>Publish IC</span>
                    </button> -->
                    <button mat-menu-item (click)="onOpenICManagementPage()">
                        <mat-icon>view_module</mat-icon>
                        <span>IC Management</span>
                    </button>
                    <button mat-menu-item (click)="onOpenICTradingPage()">
                        <mat-icon>view_module</mat-icon>
                        <span>IC Trading</span>
                    </button>
                </mat-menu>
            </li>
            <li>
                <a placement="bottom" ngbTooltip="Home" container="body">
                    <mat-icon class="material-icons icon" style='font-size: 30px'>home</mat-icon>
                    <!-- <span class="label">LogOut</span> -->
                </a>
            </li>
            <!-- <li>
                        <a placement="bottom" ngbTooltip="Log out" container="body" (click)="logout()">
                            <mat-icon class="material-icons icon" style='font-size: 30px'>input</mat-icon>
                        </a>
                    </li> -->
            <li>
                <!-- <a class="navbar-item" routerLink="">{{ language.HOME || language}}</a> -->
                <app-language-selector class="navbar-item" style='font-size: 24px'></app-language-selector>
            </li>
            <!-- <li>
                        <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" style='font-size: 30px' status="primary">
                            <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
                        </nb-select>
                    </li> -->
        </ul>
    </div>
</mat-toolbar>
<!-- <main>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container> -->