<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                <h2>IC Creation</h2>
                <form [formGroup]="icCreationForm" (ngSubmit)="onSubmit()">
                    <div class="container-vertical">
                        <table class="full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="IC Name" required formControlName="icName"
                                            [ngClass]="{ 'is-invalid': submitted && f.icName.errors }">
                                        <div *ngIf="submitted && f.icName.errors" class="invalid-feedback">
                                            <div *ngIf="f.icName.errors.required">IC Name is required</div>
                                        </div>
                                    </mat-form-field>
                                </td>
                                <td class='align-right'>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="IC Denomination" required
                                            formControlName="icDenomination"
                                            [ngClass]="{ 'is-invalid': submitted && f.icDenomination.errors }">
                                        <div *ngIf="submitted && f.icDenomination.errors" class="invalid-feedback">
                                            <div *ngIf="f.icDenomination.errors.required">IC Denomination is required
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </td>
                                <td class='align-right'>
                                    <mat-form-field>
                                        <mat-label>Period</mat-label>
                                        <mat-select required formControlName="icPeriod" [(value)]="selectedPeriod">
                                            <mat-option *ngFor="let interest of icInterests" [value]="interest">
                                                {{interest.period}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="submitted && f.icPeriod.errors" class="invalid-feedback">
                                            <!-- <div *ngIf="f.icPeriod.errors.required">IC Period is required</div> -->
                                        </div>
                                    </mat-form-field>
                                </td>
                                <td class='align-right'>
                                    <mat-form-field [floatLabel]='always'>
                                        <input matInput placeholder="IC Interest" required formControlName="icInterest" 
                                           [ngModel]="!!selectedPeriod ? selectedPeriod.interest_rate : 0" [ngClass]="{ 'is-invalid': submitted && f.icInterest.errors }">
                                        <div *ngIf="submitted && f.icInterest.errors" class="invalid-feedback">
                                            <div *ngIf="f.icInterest.errors.required">IC Interest is required</div>
                                        </div>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Create new one
                        </button>
                        <a class="btn btn-link" (click)="onCloseCreationDialog()">Cancel</a>
                        <!-- <a routerLink="/ic/admin/" class="btn btn-link">Cancel</a> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>