<div class="col-sm-6 offset-sm-2">
    <h2>IC Publishing</h2>
    <form [formGroup]="icPublishingForm" (ngSubmit)="onSubmit()">
        <div class="container-vertical">
            <table class="full-width" cellspacing="0">
                <tr>
                    <td class='align-right'>
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>IC Name</mat-label>
                            <input matInput placeholder="IC Name" readonly [ngModel]="data.product_name"
                                formControlName="icName">
                        </mat-form-field>
                    </td>
                    <td class='align-right'>
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>Denomination (VND)</mat-label>
                            <input matInput placeholder="Published IC Denomination" readonly
                                [ngModel]="data.denomination" formControlName="icDenomination">
                        </mat-form-field>
                    </td>
                    <td class='align-right'>
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>Period (months)</mat-label>
                            <input matInput placeholder="Published IC Period" readonly [ngModel]="data.period"
                                formControlName="icPeriod">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class='align-right'>
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>Published IC Amount</mat-label>
                            <input matInput placeholder="Published IC Interest" required
                                formControlName="publishedAmount">
                            <div *ngIf="submitted && f.publishedAmount.errors" class="invalid-feedback">
                                <div *ngIf="f.publishedAmount.errors.required">Published IC Amount is required</div>
                            </div>
                        </mat-form-field>
                    </td>
                    <td class='align-right'>
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>Published IC Interest (%/year)</mat-label>
                            <input matInput placeholder="Published IC Interest" required [ngModel]="data.interest"
                                formControlName="publishedInterest">
                            <div *ngIf="submitted && f.publishedInterest.errors" class="invalid-feedback">
                                <div *ngIf="f.publishedInterest.errors.required">Published IC Interest is required</div>
                            </div>
                        </mat-form-field>
                    </td>
                    <td class='align-right'>
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>Published Date</mat-label>
                            <input matInput required [matDatepicker]="publishedDatePicker" [min]="minPublishedDate"
                                [max]="maxPublishedDate" [matDatepickerFilter]="invalidPublishedDate"
                                formControlName="publishedDate">
                            <mat-datepicker-toggle matSuffix [for]="publishedDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #publishedDatePicker [startAt]="startDate"></mat-datepicker>
                            <div *ngIf="submitted && f.publishedInterest.errors" class="invalid-feedback">
                                <div *ngIf="f.publishedInterest.errors.required">Published IC Interest is required</div>
                            </div>
                        </mat-form-field>
                    </td>
                </tr>
                <!-- <tr>
                    <td class='align-right'>
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>Published IC Interest (%/year)</mat-label>
                            <input matInput readonly placeholder="Published IC Interest" required [ngModel]="f.publishedAmount*data.denomination"
                                formControlName="publishedInterest">
                            <div *ngIf="submitted && f.publishedInterest.errors" class="invalid-feedback">
                                <div *ngIf="f.publishedInterest.errors.required">Published IC Interest is required</div>
                            </div>
                        </mat-form-field>
                    </td>
                </tr> -->
            </table>
        </div>


        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Publish
            </button>
            <a class="btn btn-link" (click)="onCloseICPublishDialog()">Cancel</a>
            <!-- <a routerLink="/ic/admin/" class="btn btn-link">Cancel</a> -->
        </div>
    </form>
</div>